html {
    scroll-behavior: smooth;
}

.fullbody {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.border {
    color: #E4E6EB;
    /* border: 2px solid gray; */
    padding: clamp(0.8rem,3vw,3rem);
    scroll-margin-top: 4rem;
}

body {
    background-color: #0a0f1c;
    color: #E4E6EB;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* border: 2px solid white; */
    width: 90vw;
    background-color: rgb(10, 15, 28);
    margin-top: 1rem;
    z-index: 3;
    padding-left: 1rem;
    padding-right: 1rem;

}

.navbar {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.1rem;
}

.bars {
    display: none;

}

.myportfolio{
    font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  display:none;
}

.bars .baricon {
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.hamberger {
    height: auto;
    background-color: #0a0f1c;
    width: 13rem;
    /* border:2px solid gray; */
    position: absolute;
    top: 0rem;
    right: 0rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 1px white;
    display:none;
    padding-bottom: 2rem;
}

.active {
    
    display: block;
}

.cross {
    font-size: 1.5rem;

}
.cross:hover{
    font-size: 1.7rem;
}
.cross:active {
    font-size: 1.7rem;
}

.crosscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    /* border:2px solid gray; */
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.options {
    /* border:2px solid gray; */
    height: 12rem;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.options a {
    text-decoration: none;
    color: #E4E6EB;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #E4E6EB;
    opacity: 0.9;
    transition: all 0.8s ease-in-out;

}

.navbar a:hover {
    text-decoration: underline;
    opacity: 1;
    transform: scale(1.1);
}

.resume {
    background-color: #FF6B6B;
    width: 161px;
    height: 46px;
    border: none;
    border-radius: 0.7rem;
    color: #E4E6EB;
    font-size: 0.9rem;
    font-weight: 700;
    position: relative;
    opacity: 0.7;
    transition: all 0.8s ease-in-out;
    /* left:700px */
}

.resume:hover {
    opacity: 1;
    box-shadow: 0 0 2px #E4E6EB;
    transform: scale(1.01);
    cursor: pointer;
}

.hero {
    margin-top: 5.6rem;
    height: auto;
    scroll-margin-top: 5.6rem;
    width: 90%;
    /* border:2px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    /* padding:4.22rem; */
}

.intro p {
    font-size: clamp(39px, 4vw, 48px);
}

.intro p span {
    font-weight: 600;
}

.intro {
    height: auto;
    width: clamp(300px, 9vw, 600px);
    margin-left: 4rem;
    padding-right: 7rem;
    flex: 1;

}

.main {
    
    margin-bottom: 0;
    margin-left: 0rem;
}
.myintro{
font-size:clamp(2rem,10vw,3rem);
}

.subintro {
    margin-top: 10px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin-left: 1.9rem;
}

.pera {
    display: flex;
    margin-top: 19px;
    line-height: 1.35rem;
    font-size: clamp(0.9rem, 3vw, 1rem);
    opacity: 0.7;
    width:clamp(15rem,40vw,40rem);
    margin-left: 1.9rem;
}

.image {
    border: 2px solid gray;
    height: 30vw;
    width: clamp(250px, 30vw, 32rem);
    height: clamp(250px, 30vw, 32rem);
    border-radius: 50%;
    /* margin-right: 4rem; */
    background-image: url('me.jpg');
    background-size: cover; 
    background-position: -3px -29px; /* x = 100px, y = 50px */
    margin-right: clamp(0rem,5vw,8rem);

}

/* .extraCV{
    border:2px solid gray;
    height: 70px;
    width: 90vw;

} */
.extraCVbutton{
     background-color: #FF6B6B;
    width: clamp(140px,20vw,161px);
    height: 46px;
    border: none;
    border-radius: 0.5rem;
    color: #E4E6EB;
    font-size: 0.9rem;
    font-weight: 700;
    position: relative;
    opacity: 0.7;
    transition: all 0.8s ease-in-out;
    margin-top:2rem;
    margin-left: 1.9rem;
}
.extraCVbutton:hover{
    opacity: 1;
    box-shadow: 0 0 2px #E4E6EB;
    transform: scale(1.01);
    cursor: pointer;
}
.about {
    /* border:2px solid white; */

    width: 90%;
    /* scroll-margin-top: 8rem; */
    display: flex;
    flex-direction: column;
    /* padding: 4.22rem; */
    height: auto;
    word-wrap: break-word;

}

.innerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding-left: 13vw;
    height: auto;
    flex-wrap: wrap;
}

.heading {
    font-size: 2.2rem;
    margin-top: 6rem;
    margin-left: clamp(0rem, 16vw, 9rem);
    color: #FF6B6B;

}

.aboutme {
    height: auto;
    width: clamp(318px, 35vw, 500px);
    /* position: absolute; */
    /* right: 11rem; */
    /* top:9rem; */
    line-height: 1.8rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: gray;
    margin-left: 1rem;
    margin-right: 5rem;
    display: flex;
}

.about .img {
    height: clamp(280px, 20vw, 300px);
    width: clamp(330px, 30vw, 500px);
    border: 2px solid gray;
    /* position: absolute;
    left : 160px;
    top: 10.8rem; */
    border-radius: 5%;

}

.skills {
    /* border:2px solid gray; */
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;

    /* padding: 4.22rem; */
}

.skillcard {
    /* border: 2px solid gray; */
    height: clamp(13rem, 25vw, 15rem);
    width: clamp(11rem, 20vw, 13rem);
    transition: all 0.5s ease-in-out;
    margin-right: 3rem;
    margin-top: 3rem;
    flex: 0 0 auto; 
    overflow: hidden;
}

.skillcard:hover {
    background: rgba(255, 255, 255, 0.13);
    cursor: pointer;
    
}

.skillcard::before{
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255,255,255,0.08) 0%, transparent 70%);
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.skillcard:hover::before {
  opacity: 0.9;
}

.cards {
    display:flex;
    /* border:2px solid yellow; */
    padding-left: clamp(1rem,13vw,14rem);
    height: auto;
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
     -ms-overflow-style: none;  /* IE/Edge ke liye */
    scrollbar-width: none;      /* Firefox ke liye */
     animation: scroll-linear 10s linear infinite;
     scroll-behavior: smooth;
    
    
}

.wrapper{
    /* border:2px solid yellow; */
    position: relative;
}

.cards::-webkit-scrollbar {
  display: none;         /* Chrome, Safari ke liye */
}

.arrowicon{
    font-size: 1.8rem;
}
.arrow{
   
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
   
      transition: all 0.3s ease;
      pointer-events: none;


  
}

.skillarrow{
    position: absolute;
    right: 0rem;
    top:8rem;
}

.icon {
    font-size: 2.5rem;
    position: absolute;
    left: 1rem;
    top: 2.3rem;
}

.content {
    position: absolute;
    left: 1rem;
    top: 5rem;
    font-size: 1rem;

}

.glass {
    background: rgba(255, 255, 255, 0.1);
    /* transparent background */
    backdrop-filter: blur(10px);
    /* blur the background behind */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* light border */
    border-radius: 15px;
    /* rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* subtle shadow */

}
.circleglass{
    background: rgba(255, 255, 255, 0.1);
    /* transparent background */
    backdrop-filter: blur(10px);
    /* blur the background behind */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
}

.project {
    height: auto;
    width: 90%;

    /* border:2px solid gray; */
    /* scroll-margin-top: 6rem; */
    /* padding: 4.22rem; */
    scroll-margin-top: -2rem;
}

.projectcard {
    height: clamp(22rem,30vw,27rem);
    width: clamp(15rem,25vw,21rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    margin-top: 3rem;
    padding: 1rem;
}

.projectcard:hover {
    cursor: pointer;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.546);
}

.pimg {
    height: clamp(9.5rem,12vw,11rem);
    width: clamp(15rem,23vw,20.18rem);
    border-radius: 0.6rem;
    background-image: url(dictionary.png);
    background-size: cover;
    filter: brightness(0.7);
    flex:0 0 auto
}

.pcontent {
    height: clamp(10rem,13vw,15rem);
    width: clamp(15rem,25vw,18rem);
    border-radius: 0.6rem;
}

.pheading {
    font-size: clamp(1.3rem,3vw,1.7rem);
    font-family: Times New Roman, Times, serif;
    margin-bottom: 0;

}

.pdiscription {
    font-size: clamp(0.8rem,1vw,1rem);
    margin-top: clamp(0.4rem,1vw,0.8rem);
    color: #E4E6EB
}

.stack {
    font-weight: 100;
    font-style: italic;
    font-size: clamp(0.8rem,1vw,1rem);
}

.demo {
    background: transparent;
    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 0.5rem;
    height: clamp(2rem,3vw,2.3rem);
    width: clamp(6.6rem,5vw,7rem);
    color: #E4E6EB;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.demo:hover {
    opacity: 1;
    border: 2px solid rgba(128, 128, 128, 1);
    box-shadow: 0 0 4px rgba(128, 128, 128, 1);
    transform: scale(1.01);
    cursor: pointer;
}

.git {
    background-color: #FF6B6B;
    border-radius: 0.5rem;
    height: 2.3rem;
    width: clamp(7rem,6vw,8rem);
    border: none;
    font-size: 1rem;
    color: #E4E6EB;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
}

.git:hover {
    opacity: 1;
    box-shadow: 0 0 4px #E4E6EB;
    transform: scale(1.01);
    cursor: pointer;
}

.projectarrow{
    position: absolute;
    right: 0rem;
    top:14rem;

}

.buttons {
    display: flex;
    justify-content: space-between;
}

.contact {
    height: auto;
    width: 90%;
    /* border:2px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}




.contactdiv {
    height: clamp(30rem,45vw,27rem);
    width: clamp(30rem,40vw,35rem);
    margin-left: clamp(5rem,14vw,13rem) ;
    margin-bottom: 6rem;
    /* border:2px solid gray; */
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    /* border:2px solid yellow; */
    justify-content: center;
    column-gap:1rem;
     justify-content: flex-start;
    margin-left: 1.9rem;
}

.box {
    
    border: 2px solid gray;
    border-radius: 0.5rem;
    background: transparent;
    color: #E4E6EB;
    font-size: 1rem;
    margin-top: 0.5rem;
    
}

.db{
    height: 1.8rem;
    width: clamp(12rem,15vw,19rem);
}
/* 
.container2 {
    /* border:2px solid red; */


/* .container1{
    border : 2px solid red;
    margin-right: 1rem;

} */

.main p{
    margin-bottom: 0;
}


.tittle {
    font-size: 1rem;
}

.main {
    margin-top: 0.5rem;
   
}

.msg {
    width: clamp(25rem,35vw,30rem);
    height: 11rem;
    margin-left: 1.9rem;
}

.msg:focus {
    box-shadow: 0 0 px rgba(127, 255, 212, 0.408);
}

.send {
    background-color: #FF6B6B;
    border: none;
    border-radius: 0.3rem;
    height: 2rem;
    width: 5.8rem;
    color: #E4E6EB;
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.9rem;

}


.send:hover {
    opacity: 1;
    box-shadow: 0 0 2px #E4E6EB;
}

.sicon {
    font-size: 0.8rem;

}

.fotter {
    height: auto;
    width: 85vw;
    /* border:2px solid rgb(245, 244, 244); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 4.22rem; */
    
}

.media {
    font-size: 2rem;
    margin-right: 1rem;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.media:hover{
    opacity: 1;
    transform: scale(1.01);
}

.icons {
    width: auto;
    display: flex;
    justify-content: center;
    /* border: 2px solid gray; */
}

.infodiv {
    display: flex;
    align-items: center;
    font-size: clamp(0.9rem ,1vw,1rem);
    cursor: pointer;
}

.infoicon {
    font-size: 1.3rem;
    margin-right: 0.6rem;
}

.info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: auto;
    
}

.info p {
    margin-right: 2rem;

}

.copyright .copy_info {
    display: flex;
    align-items: center;
}

.copyright {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    margin-top: 2rem;
    
}