@media(max-width:450px){
    .intro{
        padding-right: 0;
        margin-left: 0.5rem;
    }  
    .about .img{
        height:45vw;
    }
}
@media (max-width: 850px){
    .header{
        height:50px;
        width: 80vw;
    }
    .navbar{
        display: none;
    }
    .resume{
        width:140px;
        height: 40px;
        display: none;
    }
    .bars{
        display: flex;
    }
    
        .baricon:hover{
            transform: scale(1.2);
        }
    
}
@media (max-width:550px){
    .innerdiv{
       padding-left: 8vw; 
    }
    .aboutme{
        margin-right: 0rem;
        margin-left:0rem;
    }
}
